.carousel-item {
	height: 65vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.portfolio-item {
	margin-bottom: 30px;
}

.logoImage {
	width: 120px;
	height: auto;
	object-fit: cover;
}

.ul {
	list-style: none;
}

.custom-card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding: 0.3rem;
	font-size: 15px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-prev {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 gray);
	filter: opacity(.5) dropshadow(0 0 0 gray);
}

.swiper-button-next {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 gray);
	filter: opacity(.5) dropshadow(0 0 0 gray);
}

.swiper-button-prev:hover {
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 black);
	filter: opacity(.5) dropshadow(0 0 0 black);
}

.swiper-button-next:hover {
	-webkit-filter: opacity(.5) drop-shadow(0 0 0 black);
	filter: opacity(.5) dropshadow(0 0 0 black);
}

.swiper-button-prev::after {
	display: none;
}

.swiper-button-next::after {
	display: none;
}

.my-box {
	border: 1px solid #ff5a5f;
	width: 80px;
	height: 25px;
}

a#MOVE_TOP_BTN {
	position: fixed;
	right: 5%;
	bottom: 80px;
	display: none;
	/* 화면 레이어 최상단으로 MOVE_TOP_BTN을 표시 */
	z-index: 999;
}
	
a#KAKAO_BTN {
	position: fixed;
	right: 5%;
	bottom: 160px;
	display: none;
	/* 화면 레이어 최상단으로 MOVE_TOP_BTN을 표시 */
	z-index: 999;
}

.ui-autocomplete {
	font-size: 13px;
	z-index: 9999 !important;
}